<div class="card-container">
  <mat-card tabindex="0">
    <div class="card-content">
      <ng-container *ngIf="(currentRegisterStep$ | async) != 'registerSuccess'">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div *ngFor="let question of currentQuestions" class="form-row">
            <app-dynamic-form-question
              [question]="question"
              [form]="form"
            ></app-dynamic-form-question>
          </div>

          <!-- <div class="form-row"> -->
          <mat-card-actions>
            <button
              mat-flat-button
              color="accent"
              type="submit"
              [disabled]="!form.valid"
              class="submit-button"
            >
              Save
            </button>
          </mat-card-actions>
          <!-- </div> -->
        </form>
      </ng-container>
      <ng-container *ngIf="(currentRegisterStep$ | async) == 'registerSuccess'" >
        <mat-card-title style="text-align: center">
          Registration successful!
        </mat-card-title>
        <mat-card-content style="text-align: center">
          Payment ID: {{ (paymentInfo$ | async)?.paymentDataId }}
        </mat-card-content>
        <mat-card-actions>
          <div class="newRegisterButton">
            <button mat-flat-button color="accent" (click)="newRegister($event)">New Registration</button>
          </div>
        </mat-card-actions>
      </ng-container>
    </div>
  </mat-card>
</div>
