<div class="card-container">
  <mat-card tabindex="0">
    <div class="card-content">
      <ng-container *ngIf="(currentRegisterStep$ | async) != 'registerSuccess'">
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div *ngFor="let question of currentQuestions" class="form-row">
            <app-dynamic-form-question
              [question]="question"
              [form]="form"
            ></app-dynamic-form-question>
          </div>

          <!-- <div class="form-row"> -->
            <mat-card-actions>
            <button
              mat-flat-button
              color="accent"
              type="submit"
              [disabled]="!form.valid"
              class="submit-button"
            >
              Save
            </button>
            </mat-card-actions>
          <!-- </div> -->
        </form>

        <!-- <div *ngIf="payloadStringyfied" class="form-row">
          <strong>Saved the following values</strong><br />{{
            payloadStringyfied
          }}
        </div> -->
      </ng-container>
      <ng-container *ngIf="(currentRegisterStep$ | async) == 'registerSuccess'">
        <p>register success</p>
      </ng-container>
    </div>
  </mat-card>
</div>
