<div [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
    <mat-label [attr.for]="question.key" color="accent">{{ question.label }}</mat-label>

  <div [ngSwitch]="question.controlType">
      <input
        *ngSwitchCase="'textbox'"
        [formControlName]="question.key"
        [id]="question.key"
        [type]="question.type"
        [placeholder]="question.placeholder"
        matInput
      />
  </div>

  <mat-error *ngIf="!isValid">
    {{ question.label }} is required
  </mat-error>
</mat-form-field>
</div>
